n8n-workflows/main-conversation.json
{
  "name": "Bot Comercial Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-telegram",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "contains",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "check-start",
      "name": "É comando /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Olá! Sou seu assistente comercial 🤖\n\nVocê é:\n• Cliente existente\n• Novo interessado\n\nDigite 1 ou 2 para continuar.",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {"text": "1️⃣ Cliente", "callback_data": "cliente"},
                {"text": "2️⃣ Novo", "callback_data": "novo"}
              ]
            ]
          }
        }
      },
      "id": "welcome-message",
      "name": "Mensagem Boas-vindas",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.callback_query.data}}",
              "operation": "equal",
              "value2": "novo"
            }
          ]
        }
      },
      "id": "check-novo",
      "name": "É novo cliente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.callback_query.message.chat.id}}",
        "text": "Perfeito! Qual serviço você precisa?\n\n🔹 Consultoria\n🔹 Emergência\n🔹 Auditoria\n🔹 Outro\n\nDigite o número da opção:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {"text": "1️⃣ Consultoria", "callback_data": "consultoria"},
                {"text": "2️⃣ Emergência", "callback_data": "emergencia"}
              ],
              [
                {"text": "3️⃣ Auditoria", "callback_data": "auditoria"},
                {"text": "4️⃣ Outro", "callback_data": "outro"}
              ]
            ]
          }
        }
      },
      "id": "servicos-menu",
      "name": "Menu de Serviços",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.callback_query.data}}",
              "operation": "equal",
              "value2": "emergencia"
            }
          ]
        }
      },
      "id": "check-emergencia",
      "name": "É emergência?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.callback_query.message.chat.id}}",
        "text": "🚨 EMERGÊNCIA DETECTADA!\n\nTransferindo para especialista...\nAguarde que alguém entrará em contato em até 5 minutos.\n\n📞 Ou ligue: +55 (31) 98606-3092"
      },
      "id": "emergencia-transfer",
      "name": "Transferir Emergência",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms",
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{new Date().toLocaleString()}}",
            "Nome": "={{$json.callback_query.from.first_name}}",
            "Username": "@{{$json.callback_query.from.username}}",
            "Tipo": "Emergência",
            "Status": "Transferido",
            "ChatID": "={{$json.callback_query.message.chat.id}}"
          }
        },
        "options": {}
      },
      "id": "save-lead",
      "name": "Salvar no CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "chatId": "={{$json.callback_query.message.chat.id}}",
        "text": "Ótimo! Para consultoria preciso de algumas informações:\n\n📋 Nome completo:\n🏢 Nome da empresa:\n📱 Melhor horário para contato:\n\nPor favor, envie essas informações."
      },
      "id": "consultoria-form",
      "name": "Formulário Consultoria",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "É comando /start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É comando /start?": {
      "main": [
        [
          {
            "node": "Mensagem Boas-vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Boas-vindas": {
      "main": [
        [
          {
            "node": "É novo cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É novo cliente?": {
      "main": [
        [
          {
            "node": "Menu de Serviços",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu de Serviços": {
      "main": [
        [
          {
            "node": "É emergência?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É emergência?": {
      "main": [
        [
          {
            "node": "Transferir Emergência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formulário Consultoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transferir Emergência": {
      "main": [
        [
          {
            "node": "Salvar no CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}